*{
    margin:0;padding:0;box-sizing:border-box;transition: all 0.3s;}
*::before,*::after{
    box-sizing: border-box;}
body{
    height:100vh;background-color: rgb(137,185,247);display: flex;flex-direction: column;
}
.codeWrapper{height: 50%;flex:1;margin:1px;padding:10px;box-shadow: 0px 0px 18px 2px rgba(64,59,61,0.5);overflow: hidden;}
.codeTag{overflow: hidden;}
.peppa{width:300px;margin:0px auto;position:relative;flex:2;}
.peppa > *{position: absolute;}
.cover{  
    left:134px;top:120px;
    height:20px;width:40px;
    transform: rotate(25deg);
    }
.buttons{
    position: fixed;display: flex;flex-direction: column;left:80%;top:8%;} 
.buttons > button{
    flex:1;margin: 8px;background-color: #fff;border: 0;padding: 4px;border-radius: 8px;box-shadow: 0px 0px 2px 2px rgba(251, 235, 255, 0.2);}
.buttons >button.active{
    background-color: rgb(231,149,192);color: #fff}
.buttons > button:focus{
    outline: none;}
 
.head{
    left:120px;top:80px;
    height:100px;width:105px;
    border-radius:100% 80% 80% 80%;
}
.nose{
    height: 60px;width:100px;
    left:80px;top:66px;
    border-radius:80% 50% 50% 80%;
    border-right-color: transparent !important;
}
.nares{
    height:50px;width:35px;
    left:84px;top:58px;
    border-radius:50%;
}
.nares::after,.nares::before{
    content:'';
    position: absolute;
    height:8px;width:8px;border-radius:50%;
}
.ear.left{
    top:54px;left:180px;
    height:40px;width:24px;
    border-radius:80% 80% 0 0;
}
.ear.right{
    top:64px;left:210px;
    height:40px;width:24px;
    border-radius:80% 80% 0 0;
}
.eye{
    height:20px;width:20px;
    border-radius:50%;
    }
.eye:after{
    content:'';
    position: absolute;
}
.mouth{
    top:90px;left:128px;
    width:80px;height:60px;
    background-color: transparent;
    border-radius:90%;
    border:5px solid transparent;
    transform:rotate(-70deg);
}
.face{
    top:130px;left:186px;
    height:26px;width:26px;
}
.leftDress{
    top:168px;left:126px;
    border-right:0px;
}
.rightDress{
    top:168px;left:172px;
    height:80px;width:50px;
    border-radius: 0 100% 0 0 ;
}
.hand.left{
    height:6px;width:60px;
    border-radius:20%;
    top:198px;left:92px;
}
.hand.left::before{
    content:'';
    position: absolute;
    border-radius:32%;
    height:5px;width:12px;
}
.hand.left::after{
    content:'';
    position: absolute;
    border-radius:20%;
    height:5px;width:12px;
}
.hand.right{
    top:198px;left:198px;
    height:6px;width:60px;
    border-radius:20%;
    }
.hand.right::before{
    content:'';
    position: absolute;
    border-radius:32%;
    height:5px;width:12px;
}
.hand.right::after{
    content:'';
    position: absolute;
    border-radius:20%;
    height:5px;width:12px;
}
.foot{
    width:6px;height:40px;top:240px;}
.foot:after{
    content:'';
    position: absolute;
    border-radius:50% 100%;
    height:8px;width:20px;
    top:90%;right:0%;
    }
.shadow{
    height:20px;
    width:100px;
    top:270px;left:118px;
}